{;; norm1 installs the user table schema into Datomic
 :project-name/norm1 {:txes [[
   {:db/doc                "User email address"
    :db/ident              :user/email
    :db/valueType          :db.type/string
    :db/cardinality        :db.cardinality/one
    :db/unique             :db.unique/identity
    :db/id                 #db/id [:db.part/db]
    :db.install/_attribute :db.part/db}
   {:db/doc                "User screen name"
    :db/ident              :user/name
    :db/valueType          :db.type/string
    :db/cardinality        :db.cardinality/one
    :db/id                 #db/id [:db.part/db]
    :db.install/_attribute :db.part/db}
   {:db/doc                "User status"
    :db/ident              :user/status
    :db/valueType          :db.type/keyword
    :db/cardinality        :db.cardinality/one
    :db/id                 #db/id [:db.part/db]
    :db.install/_attribute :db.part/db}
   {:db/doc                "User team"
    :db/ident              :user/team
    :db/valueType          :db.type/keyword
    :db/cardinality        :db.cardinality/one
    :db/id                 #db/id [:db.part/db]
    :db.install/_attribute :db.part/db}
  ]]}

 ;; norm2 installs certain user init data into Datomic for testing purpose
 :project-name/norm2 {:txes [
 [{:db/doc                "The id of the client"
   :db/ident              :client/id
   :db/valueType          :db.type/string
   :db/unique             :db.unique/identity
   :db/cardinality        :db.cardinality/one}

  {:db/doc                "The name of the client"
   :db/ident              :client/name
   :db/valueType          :db.type/string
   :db/cardinality        :db.cardinality/one}]

 [{:db/doc                "The id of the product"
   :db/ident              :product/id
   :db/valueType          :db.type/keyword
   :db/unique             :db.unique/identity
   :db/cardinality        :db.cardinality/one}

  {:db/doc                "The name of the product"
   :db/ident              :product/name
   :db/valueType          :db.type/string
   :db/cardinality        :db.cardinality/one}]

 [{:db/doc                "the booking id"
   :db/ident              :booking/id
   :db/valueType          :db.type/uuid
   :db/unique             :db.unique/identity
   :db/cardinality        :db.cardinality/one}

  {:db/doc                "the booking selling method (optional)"
   :db/ident              :booking/selling-method
   :db/valueType          :db.type/keyword
   :db/cardinality        :db.cardinality/one}

  {:db/doc                "the booking form (optional)"
   :db/ident              :booking/form
   :db/valueType          :db.type/keyword
   :db/cardinality        :db.cardinality/one}

  {:db/doc                "The sales of this booking"
   :db/ident              :booking/sales
   :db/valueType          :db.type/ref
   :db/cardinality        :db.cardinality/one}

  {:db/doc                "The client of this booking"
   :db/ident              :booking/client
   :db/valueType          :db.type/ref
   :db/cardinality        :db.cardinality/one}

  {:db/doc                "the booking date (The date when sales submit this booking)"
   :db/ident              :booking/date
   :db/valueType          :db.type/instant
   :db/cardinality        :db.cardinality/one}]

 [{:db/doc                "The calendar date"
   :db/ident              :calendar/date
   :db/valueType          :db.type/instant
   :db/cardinality        :db.cardinality/one}

  {:db/doc                "The product of this (date, product) calendar"
   :db/ident              :calendar/product
   :db/valueType          :db.type/ref
   :db/cardinality        :db.cardinality/one}

  {:db/doc                "The booking entity of this (date, product) calendar"
   :db/ident              :calendar/booking
   :db/valueType          :db.type/ref
   :db/cardinality        :db.cardinality/one}
  ]]}

}
